<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>

<div>ログイン成功です！！！！おめでとう！！！！！</div>

<!-- ログアウトボタン -->
<div><a id="logout" th:href="@{logout}">ログアウト</a></div>
</body>

<script>

	const logout = document.getElementById("logout");
	
	//ログアウトボタン押下時の挙動
	logout.addEventListener("click", e => {
		e.preventDefault();
 		const result = window.confirm("ログアウトします。よろしいですか？");
 		if(result) {
			 window.location.href = e.target.href;
		 }
	});
</script>
</html>